contourpy==1.2.0
cycler==0.12.1
Deprecated==1.2.13
fonttools==4.47.0
joblib==1.2.0
kiwisolver==1.4.5
llvmlite==0.39.1
matplotlib==3.8.2
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==23.1
pandas==1.5.3
Pillow==10.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
scikit-learn==1.2.1
scipy==1.10.1
shap==0.32.1
six==1.16.0
sktime==0.16.1
threadpoolctl==3.1.0
torch==1.13.1
tqdm==4.66.1
typing_extensions==4.9.0
wrapt==1.15.0
